<div class="footer-copyright green">
  <div class="container grey-text text-lighten-4">
    © 2020 Copyright okamu0414
    <%= link_to 'GitHub Link', 'https://github.com/okamu0414', class: 'grey-text text-lighten-4 right' %>
  </div>
</div>