<div class="footer-copyright green">
  <div class="container grey-text text-lighten-4">
    © 2020 Copyright okamu0414
    <a class="grey-text text-lighten-4 right" href="https://github.com/okamu0414">GitHub Link</a>
  </div>
</div>